.cart-page {
    font-family: Arial, sans-serif;
  }
  
  .cart-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 10px;
  }
  

  .quantity-control {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    padding: 5px 10px;
    margin: 0 5px;
  }
  
  .quantity {
    margin: 0 5px;
  }
  
  .remove-button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    padding: 5px 10px;
  }
  
  .total-section {
    margin-top: 20px;
  }
  
  .checkout-button {
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
  }
  
  .checkout-button:hover {
    background-color: #218838;
  }
  .cart-page .img img{
    width: 100px;
  }
  p{
    margin-bottom: 0;
  }
  .item-details h3{
    font-size: 15px;
  }